/* Generelle stiler */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.logo {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #e0e0e0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.products {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-detail img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.product-info {
    max-width: 500px;
}

.product-info h1 {
    margin-top: 0;
}

.product-info form {
    display: flex;
    flex-direction: column;
}

.product-info label {
    margin-top: 10px;
}

.product-info select {
    padding: 5px;
    margin-top: 5px;
}

.product-info .buy-button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-info .buy-button:hover {
    background-color: #45a049;
}

.buy-button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    bottom: 0;
}
